<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    {% include header.html %}
    <main id="content" class="main-content" role="main">
      <div class="main-wrap">

            {% twitter https://twitter.com/MPC5000 maxwidth=380 limit=1 %}

        <div class="recentpost">
          <h3 class="maintitle">Recent blog</h3>
          <hr/>
            <ul>
            {% for post in site.posts limit:1 %}
              <li class="postlist">
                <h2><a href="/news{{ post.url }}"> {{ post.title }}</a></h2>
                <p>{{ post.description }}</p>
                <p><img src="{{ post.img }}" alt="{{ post.imgtitle }}" class="mainimg"></p>
                <p class="date">{{ post.date | date_to_string }}</p>
                <hr id="line">
                <div class="textlink"><a href="/news/notice/" >More blog</a></div>               
              </li>
            {% endfor %}
            </ul>
        </div>
      </div>
    </main>
    <div class="main-below"><div class="main-content"> {{ content }}</div></div>
    {% include footer.html %}
  </body>
</html>
