<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    {% include sub-header.html %}
    <main id="content" class="main-content" role="main">
      <div class="row">
        {% for gallery in site.gallery %}
          <div class="gallcard">
            <h4>{{ gallery.title }}</h4>
            <img src="/news/gallery/img/{{ gallery.img}}" class="gallimg" alt="{{ gallery.title }}">
            <p class="date">{{ gallery.place }} | {{ gallery.date | date_to_string }}</p>
          </div>
         {% endfor %}
      </div>
  {% include footer.html %}
</main>
</body>
</html>
